/* Daniel Fletcher */
/* The Odin Project [Foundations] */
/* Project: Recipes */


/* styles.css */
/* Contains stylings for recipe pages */


/* Color scheme */
:root {
    --color-mint: #10C991;
    --color-quartz: #9A8C98;
    --color-dogwood: #C9ADA7;
    --color-light: #F2E9E4; 
}


/* Global properties */
html {
    background-color: var(--color-light);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* General properties */
blockquote {
    border-left: 4.25px ridge var(--color-quartz);
    font-style: italic;
    padding-bottom: 0.125rem;
    padding-left: 1.125rem;
    padding-top: 0.125rem;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}


/* Links */
.link {
    box-shadow: 5px 5px 2.25px var(--color-quartz);
}

.index-link {
    background-color: var(--color-mint);
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1.125em 1.25em;
    text-decoration: none;
}

.index-link:hover {
    background-color: var(--color-dogwood);
    cursor: pointer;
}

.list-of-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 1.5rem 0;

    /* gaps */
    column-gap: 1.875rem;
    row-gap: 5.25rem;
}

.return-link {
    background-color: var(--color-mint);
    color: white;
    font-size: 1.025rem;
    font-weight: bold;
    padding: 1.125em 1.25em;
    text-decoration: none;
}

.return-link:hover {
    background-color: var(--color-dogwood);
    cursor: pointer;
}

.return-link-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.125rem;
    margin-right: min(15%, 360px);
    margin-top: 2.75rem;
}


/* Index page content */
.citation {
    color: var(--color-dogwood);
}

.citation:hover {
    color: var(--color-light);
}

.main-title {
    background-color: var(--color-quartz);
    border: 15px groove black;
    color: white;
    margin-bottom: 5rem;
    text-shadow: 2px 2px 2.75px black;
}


/* Recipe page content */
.recipe-heading {
    font-weight: bold;
    margin-bottom: 0;
}

.recipe-image {
    background-color: var(--color-light);
    box-shadow: 5px 5px 2.5px var(--color-dogwood);
    margin-bottom: 0.125rem;
}

.recipe-section {
    margin-bottom: 2.5rem;
    margin-right: min(15%, 360px);
}

.recipe-title {
    border-bottom: 3px double black;
    font-size: 2.125rem;
    margin-bottom: 1.125rem;
    padding-bottom: 0.25rem;
    text-shadow: 2.5px 2.5px 3.25px black;
}

.title-section {
    background-color: var(--color-quartz);
    border: 15px groove black;
    color: white;
    padding-bottom: 0.75rem;
    text-align: center;
}