/* Daniel Fletcher */
/* The Odin Project [Foundations] */
/* Project: Recipes */


/* styles.css */
/* Contains stylings for recipe pages */


/* Font and box sizing */
html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* General properties */
blockquote {
    border-left: 3px solid black;
    font-style: italic;
    padding-left: 0.125rem;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    border-bottom: 3px solid black;
    font-style: italic;
    margin-bottom: 2.5rem;
    padding-bottom: 1.125rem;
    text-align: center;
}


/* Links */
.index-link {
    background-color: rgb(16, 201, 145);
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0.875em;
    padding: 1.125em 1.25em;
    text-decoration: none;
}

.index-link:hover {
    background-color: rgb(6, 97, 70);
    cursor: pointer;
}

.list-of-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    list-style: none;
    padding: 1.5rem 0;
}

.return-link-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 2.75rem auto;
}


/* Recipe page content */
.recipe-heading {
    font-weight: bold;
    margin-bottom: 0;
}

.recipe-section {
    margin-bottom: 2.5rem;
    margin-right: clamp(10%, 50%, 52.5%);
}

.recipe-title {
    font-size: 3.5rem;
    margin-bottom: 1.125rem;
    text-align: start;
}